button {
  margin: 0px 20px;
  padding: 0px 30px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  filter: brightness(85%);
}

button > * {
  font-size: 30px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}